@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a1a;
  font-family: "Lexend", sans-serif;
}

@layer components {
  .bg-mockup-transactions-table {
    background: #1a1a1a linear-gradient(215deg, rgba(26, 26, 26, 0) 0%, #1a1a1a 39.72%) url("/images/asfalt-light.webp");
    background-size: 37px;
    background-blend-mode: normal, screen, normal;
  }
  
  .bg-gradient-icon-container {
    background-image: linear-gradient(
      180deg,
      rgba(202, 255, 51, 0.05) 0%,
      rgba(202, 255, 51, 0) 100%
    );
  }
  
  .bg-section-overlay {
    background: linear-gradient(180deg, rgba(25, 25, 25, 0.00) 0%, #191919 100%);
  }
  
  .bg-gradient-icon {
    background-image: linear-gradient(
      180deg,
      rgba(202, 255, 51, 0.1) -66.22%,
      rgba(202, 255, 51, 0) 85.46%
    );
  }
  
  .bg-use-cases {
    position: relative;
  }
  
  .bg-use-cases * {
    z-index: 1;
  }
  
  .bg-use-cases::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/images/abstract-design-03.svg");
    background-repeat: no-repeat;
  }
}
