@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a1a;
  font-family: "Lexend", sans-serif;
}

/* Fix the issue: When your swiper slider initializes too big (sometimes even far, far wider than the page) */
.swiper {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  min-height: 0;
  min-width: 0;
}

.swiper-button-lock.swiper-button-lock {
  display: block;
}

@layer components {
  .bg-mockup-transactions-table {
    background: linear-gradient(215deg, rgba(26, 26, 26, 0.00) 0%, #1A1A1A 39.72%), url("/images/asfalt-light.webp") repeat 50px 50px;
    background-blend-mode: normal, screen, normal;
  }
  
  .bg-gradient-icon-container {
    background-image: linear-gradient(
      180deg,
      rgba(202, 255, 51, 0.05) 0%,
      rgba(202, 255, 51, 0) 100%
    );
  }
  
  .bg-section-overlay {
    background: linear-gradient(180deg, rgba(25, 25, 25, 0.00) 0%, #191919 100%);
  }
  
  .bg-testimonials-overlay {
    @apply absolute z-10 top-0 h-full w-1/2 md:block hidden;
    background: linear-gradient(270deg, rgba(25, 25, 25, 0.00) 0%, #191919 105.84%);
  }
  
  .bg-gradient-icon {
    background-image: linear-gradient(
      180deg,
      rgba(202, 255, 51, 0.1) -66.22%,
      rgba(202, 255, 51, 0) 85.46%
    );
  }
  
  .bg-use-cases {
    @apply relative;
  }
  
  .bg-use-cases * {
    z-index: 1;
  }
  
  .bg-use-cases::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/images/abstract-design-03.svg");
    background-repeat: no-repeat;
  }
  
  .cta-section {
    @apply relative max-w-screen-xl rounded-[20px] border border-grey-shades-15 container mt-[80px] md:mt-[120px] flex items-center justify-between p-[30px] lg:p-[60px] flex-col md:flex-row gap-6 md:gap-0;
    background: linear-gradient(267deg, #1C1C1CFF 40%, rgba(28, 28, 28, 0.6) 100%), url("/images/asfalt-light.webp") 62px 62px repeat;
  }
  
  .cta-section::before {
    @apply absolute content-[""] left-0 top-0 w-[150px] h-[150px] md:w-[200px] md:h-[200px] bg-[url("/images/abstract-design-03.svg")];
  }
}
